:root{
    --black-color: #000000;
    --white-color: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html{
    font-family: 'Heebo', sans-serif;
}

.nav-container{
    background-color: var(--white-color);
    position: relative;
    width: 100%;
    height: 70px;
}
.nav-container__list{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.nav-container__item{
    list-style: none;
    margin-right: 36px;
}

.nav-container__item-link{
    text-decoration: none;
    /* margin-right: 36px; */
    color: var(--black-color);
    font-size: 1.25rem;
    line-height: 70px;
    font-weight: 500;
}

.menu-dropdown__list{
    background-color: #EDF7FA;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    display: none;
}

.nav-container__item.admin:hover .menu-dropdown__list{
    display: block;
}

/* .menu-dropdown__list::before{
    content: "";
    width: 100px;
    height: 100px;
    background-color:red;
    position: absolute;
    display: block;
} */

.menu-dropdown__item{
    list-style: none;
    cursor: pointer;
    padding: 15px 15px;
}

.menu-dropdown__link{
    text-decoration: none;
    color: #21243D; 
}

.menu-dropdown__item:hover{
    background-color: #d8dbdb;
}

/*Banner*/
.banner__container{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
}

.banner__introduce-heading{
    font-size: 2.75rem;
    font-weight: 700;
    color: #21243D;
    line-height: 60px;
}

.banner__introduce-text{
    font-size: 1rem;
    color: #21243D;
    line-height: 16px;
    margin-top: 30px;
}

.banner__image img{
    width: 200px;
    height: 200px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    justify-content:flex-end;
    float: right;
    object-fit: cover;
}

.banner__btn {
    width: 180px;
    margin-top: 38px;
    padding: 5px 15px;
    background-color: #FF6464;
    color: white;
    border: none;
    border-radius: 2px;
}

/*Activity*/
.activity{
    background-color: #EDF7FA;
}

.activity__container-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity__container-label{
    color: #21243D;
    line-height: 60px;
    font-size: 1.375rem;
}

.activity__container-view-all{
    color: #00A8CC;
    line-height: 23px;
    font-size: 1rem;
}

.activity__container-view-all a{
    text-decoration: none;
}

.post__container{
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom:32px;
    padding: 10px;
    cursor: pointer;
}

.post__container:hover{
    background-color: #eeeded;
}

.date-container__list{
    position: relative;
}


.date-container__item {
    display: inline-block;
    margin-right: 60px;
}

.post__container-title{
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 38.19px;
}

.post__container-text{
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*Footer*/
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 100px 36px;
}
.footer-icon__link{
    margin: 16px;
    color:#21243D;
    font-size: 1.5rem;
}
.footer__social{
    float: right;
}

.nav-bar__btn{
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 1.5rem;
    display: none;
}

 /*Overlay*/
 .nav__overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    transition: linear 0.3s;
}

/*Nav mobile*/
.nav__mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 1;
    transition: ease-in-out 0.5s;
}


.nav__mobile-list{
    padding: 0;
    margin-top: 26px;
    margin-left: 16px;
}

.nav__mobile-item{
    list-style-type: none;
}

.nav__mobile-item-link{
    text-decoration: none;
    font-size: 1.20rem;
    line-height: 60px;
    font-weight: 500;
    color:#21243D;
}

.nav__btn-close{
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 1.5rem;
    color: #21243D;
    
}

#nav-mobile-input:checked ~ .nav__overlay{ /*khi checked thi lop overlay hien len*/
    display: block;
}

#nav-mobile-input:checked ~ .nav__mobile{ /*khi checked thi nav mobile hien ra*/
    transform: translateX(0%);
}

/*** BLOG ***/

/* .blog-container__heading{
    color: #21243D;
    font-size: 2.75rem;
    font-weight: bold;
    margin: 80px 0px;
}

.blog-container__info{
    padding: 15px 0px;
    border-bottom: 1px solid #E0E0E0;
}

.blog-container__info-title{
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 44px;
    color: #21243D;
} */

@media screen and (min-width: 740px) and (max-width:1024px){ /*tablets*/
    .nav-container__list{
        display: none;
    }
    .nav-bar__btn{
        position: absolute;
        top: 15px;
        right: 18px;
        font-size: 1.5rem;
        display: block;
    }
   
    /*Banner*/
    .banner__container{ 
        width: 100%;
        margin-top: 50px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .banner__introduce-heading{
        /* width: 450px; */
        font-size: 2.75rem;
        font-weight: 700;
        color: #21243D;
        line-height: 60px;
    }
     
    .banner__image{
       margin-bottom: 20px; 
    }

    .banner__image img{
        width: 200px;
        height: 200px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        float: none;
    }

    .banner__btn {
        width: 180px;
        padding: 5px 15px;
        background-color: #FF6464;
        color: white;
        border: none;
        border-radius: 2px;
    }
    /*Activity*/
    .activity{
        padding:0px;
        background-color: #EDF7FA;
    }

    .activity__container-action{
        display: flex;
        justify-content: center;
    }

    .activity__container-label{
        color: #21243D;
        line-height: 60px;
        font-size: 1.375rem;
    }

    .activity__container-view-all{
        color: #00A8CC;
        line-height: 23px;
        font-size: 1rem;
        display: none;
    }

    .post__container{
        background-color: #ffffff;
        border-radius: 3px;

    }

    .date-container__list{
        position: relative;
    }

    .date-container__item {
        display: inline-block;
        margin-right: 60px;
    }

    .date-container__item-separate::after{
        content:"";
        position: absolute;
        display: block;
        border: 1px solid #000000;
        height: 20px;
        right: 310px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }

    .post__container-title{
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 30px;
    }

    .post__container-text{
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media screen and (max-width: 740px){   /*mobile*/
    .nav-container__list{
        display: none;
    }
    .nav-bar__btn{
        position: absolute;
        top: 15px;
        right: 18px;
        font-size: 1.5rem;
        display: block;
    }
   
    /*Banner*/
    .banner__container{ 
        width: 100%;
        margin-top: 50px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    .banner__introduce-heading{
        /* width: 450px; */
        font-size: 2.75rem;
        font-weight: 700;
        color: #21243D;
        line-height: 60px;
    }

    .banner__image{
       margin-bottom: 20px; 
    }
    
    .banner__image img{
        width: 200px;
        height: 200px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        float: none;
    }
    
    .banner__btn {
        width: 180px;
        padding: 5px 15px;
        background-color: #FF6464;
        color: white;
        border: none;
        border-radius: 2px;
    }
    /*Activity*/
    .activity{
        padding:0px;
        background-color: #EDF7FA;
    }
    
    .activity__container-action{
        display: flex;
        justify-content: center;
    }
    
    .activity__container-label{
        color: #21243D;
        line-height: 60px;
        font-size: 1.375rem;
    }
    
    .activity__container-view-all{
        color: #00A8CC;
        line-height: 23px;
        font-size: 1rem;
        display: none;
    }
    
    .post__container{
        background-color: #ffffff;
        border-radius: 3px;
    
    }
    
    .date-container__list{
        position: relative;
    }
    
    .date-container__item {
        display: inline-block;
        margin-right: 60px;
    }
    
    .post__container-title{
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 30px;
    }
    
    .post__container-text{
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* Back To Previous*/
.back-btn{
    display: flex;
    font-size: 1.5rem;
    margin-top: 70px;
    justify-content: center;
    transition: ease-in 0.5s;
}

.back-btn i{
    padding: 5px 30px;
    border: 1px solid #21243D;
    border-radius: 20px;
}

.back-btn i:hover{
    background-color: #21243D;
    color: #ffffff;
    border: none;

}